<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header logo-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="home">Green</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="home">Home</a></li>
          <li routerLinkActive="active"><a routerLink="alle-news">Alle News</a></li>
          <li routerLinkActive="active"><a routerLink="ud-news">UmweltDialog-News</a></li>
          <li routerLinkActive="active"><a routerLink="bmuv-news">BMUV-News</a></li>
          <li routerLinkActive="active"><a routerLink="gfm-news">GeldFürMüll-News</a></li>
        </ul>
      </div>
    </div>
  </nav>