<h1>Willkommen bei <span class="logo">Green</span>,<br>deinen News zum Thema Umwelt und Nachhaltigkeit</h1>
<p id="home-text">Auf dieser Seite findest du die aktuellsten News des Nachrichtendienstes "UmweltDialog", 
    des Bundesministeriums für Umwelt (BMUV) und der Initiative "GeldFürMüll".</p>
<ul>
    <li><a routerLink="/alle-news">Alle News ansehen</a></li>
    <li><a routerLink="/ud-news">News von UmweltDialog ansehen</a></li>
    <li><a routerLink="/bmuv-news">News des Bundesministerium für Umwelt ansehen</a></li>
    <li><a routerLink="/gfm-news">News von GeldFürMüll ansehen</a></li>
</ul>    


